/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'American Typewriter';
    font-style: normal;
    font-weight: normal;

    src: local('American Typewriter'), url('../fonts/ufonts.com_american-typewriter.woff') format('woff');
}
*{
    font-family: 'American Typewriter';
}

.buttonCus, .textFieldCus .checkes,.selectCustom,.textFieldCus, .fieldContainer{
    box-sizing: border-box;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}

.buttonCus, .textFieldCus,
.radioCus+ label:before, .checkBoxCus +label:before,
.radioCus+ label:after, .checkBoxCus +label:after,
select{
     cursor: pointer;
}

.wrapper{
    box-sizing: border-box;
    font-family: 'American Typewriter';
    width: 900px;
    height: 800px;
    margin:0 auto;
    padding: 275px 65px;
    background: url("../img/background.gif")  0 0 repeat ;
}

.row{
    width:100%;
    text-align: justify;
    line-height:0;

    margin-bottom: 55px;
    font-size: 1px; /* 1px для Opera */

    /* Лекарство для IE6-7*/
    text-justify: newspaper;
    zoom:1;

    /* Включаем в работу последнюю строку*/
    text-align-last: justify;

}

.row:after{
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.buttonCus, .fieldContainer, .checks{
    display: inline-block;
    /* эмуляция inline-block для IE6-7*/
    //display : inline;
    //zoom : 1;
}

.buttonCus, .fieldContainer{
    vertical-align: middle;
    border: 4px solid transparent;

    -moz-border-image: url("../img/round.png") 3 repeat;
    -webkit-border-image: url("../img/round.png") 3 repeat;
    -o-border-image: url("../img/round.png") 3 repeat;
    border-image: url("../img/round.png") 3 repeat;
}
/*buttons*/
.buttonCus{
    padding:  7px 42px;
    outline: 3px solid #b10d52;
    text-transform: uppercase;
    color: white;
    box-shadow:  5px 5px 0 2px #4a5312,-1px -1px 7px 4px rgba(0, 0, 0, 0.75),
    3px 3px 7px 4px rgba(0, 0, 0, 0.75);

}

.aboutAs{
    background: #b10d52;
    outline-color:  #b10d52;
    border-color: #b10d52;
    box-shadow:  5px 5px 0 2px #580629,-1px -1px 7px 4px rgba(0, 0, 0, 0.75),
    3px 3px 7px 4px rgba(0, 0, 0, 0.75);

}

.contacts{
    background: #889922;
    outline-color: #889922;
    border-color: #889922;
    box-shadow:  5px 5px 0 2px #4a5312,-1px -1px 7px 4px rgba(0, 0, 0, 0.75),
    3px 3px 7px 4px rgba(0, 0, 0, 0.75);
}

.portfolio{
    background: #f7941d;
    outline-color: #f7941d;
    border-color: #f7941d;
    box-shadow:  5px 5px 0 2px #925711,-1px -1px 7px 4px rgba(0, 0, 0, 0.75),
    3px 3px 7px 4px rgba(0, 0, 0, 0.75);
}

.search{
    padding-left: 47px;
    padding-right: 47px;
    background: #ef512a;
    outline-color: #ef512a;
    border-color: #ef512a;
    box-shadow:  5px 5px 0 2px #832c16,-1px -1px 7px 4px rgba(0, 0, 0, 0.75),
    3px 3px 7px 4px rgba(0, 0, 0, 0.75);

}

/*input type text*/
.fieldContainer{
    display: inline-block;
    position: relative;
    padding: 3px;
    background: #c6c6c6;
    outline: 3px solid #c6c6c6;
    border-color: #c6c6c6;
    box-shadow:  5px 5px 0 2px #686868,-1px -1px 7px 4px rgba(0, 0, 0, 0.75),
    3px 3px 7px 4px rgba(0, 0, 0, 0.75);
}

.textFieldCus, .selectCustom{
    padding:3px  10px;
    width: 490px;
    color: #889922;
    text-shadow:  1px 1px 1px black;
    box-shadow: inset 2px 2px 2px 1px #c2c2c2;
}

.textFieldCus:focus, .selectCustom:focus{
    outline: none;
}



.selectCustom{
    padding:5px 10px 5px 50px;
    background:white url("../img/arrow.png") 100% 0 no-repeat;

    font-size: 25px;
    width: 500px;
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    border: none;
    cursor: pointer;
    height: 40px;
}

select.selectCustom::-ms-expand {
    display: none;
}


/*checkbox*/

.checks{
    display: inline-block;
    position: relative;
}

.checks label{
    line-height: 25px;
    font-size: 26px;
    content: "";
    padding: 0 0 0 40px;

    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.radioCus {
    width: 0 ;
    height: 0;
    position: absolute;
    opacity: 0;
}

.radioCus:not(checked)+label:before, .checkBoxCus:not(checked)+label:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    box-shadow:  1px 1px 0px 2px #686868,-1px -1px 5px 1px rgba(0, 0, 0, 0.75),
    0 0 2px 1px rgba(0, 0, 0, 0.75);
}

.radioCus:not(checked)+label:before{

    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: url("../img/radiowS.png") 0 0 no-repeat;
}

.checkBoxCus{
    width: 0;
    height: 0;
}

.radioCus:checked+label:after{
    content: "";
    position: absolute;
    left: 0;
    margin: 10px;
    background: #ef512a;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 1px 1px 1px 0 #bc3f20;
}

.checkBoxCus:not(checked)+label:before{
 background-image:url("../img/checkbox.png") ;
    width: 43px;
    height: 43px;
}

.checkBoxCus:checked+label:after{
content: " ";
    position: absolute;
    width: 43px;
    height: 43px;
    left: 5px;
    top: -4px;
    color: red;
    font-size: 34px;


    background: url("../img/checkedBox.png")  0 0 no-repeat;


}